.app-home
{
  overflow-x: none;
  align-items: center;
  justify-items: center;
  .wordTypeButton-container{
    margin-top: 5vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(160px,1fr));
    overflow-x: auto;
    .wordTypeButton {
      background: rgba(0,255,255,0.2);
      color: white;
      margin: 8px;
      font-size: minmax(0.5vmin,0.6vmin);
      font-weight: 700;
      height: 3vh;
      padding: 20px;
      border-radius: 30px;
      transition: all 0.15s ease;
      cursor: pointer;
    }
  }
  .wordList-container{
    margin-top: 5vh;
    position: relative;
    left: 10vw;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(3,minmax(1vmin,1fr));
    gap: 50px;
    overflow-x: auto;
    .word{
      background: rgba(232,232,232,0.05);
      color: rgba(255,255,255,0.5);
      display: grid;
      align-items: center;
      justify-items: center;
      text-align: center;
      border-radius: 30px;
      height: 10vh;
      p{
        margin: 0px;
      }
    }
  }
  textarea {
    outline: none;
    border: none;
    resize: none !important;
    width: 76vw;
    height: 20vh;
    position: relative;
    left: 10vw;
    border-radius: 40px;
    margin-top: 5vh;
    background: rgba(232,232,232,0.05);
    padding: 2vh 2vw 2vh 2vw;
    color: white;
  }
  .submit{
    position: relative;
    left: 40vw;
    width: 20vw;
    height: 10vh;
    background: rgba(255,255,255,0.5);
    margin-top: 5vh;
    border-radius: 40px;
    text-align: center;
    justify-items: center;
    align-items: center;
    display: grid;
    p{
      margin: 0px;
    }
  }
}